body{
    background-color: whitesmoke;
}
#btn{
    border: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
}
#search-bar{
    border-width: 0;
    border-bottom-width: 0.1ex;
    border-radius: 0;
    border-color:black;
    background-color: whitesmoke;
}
#search-bar:focus{
    box-shadow: none;
}
